<h2><%= @loja.nome %></h2>
<h3><%= @loja.email %></h3>

<p><%= @loja.descricao %></p>

<h3>Avaliação</h3>
<div class="average-review-rating" data-score=<%= @average_review %>></div>
<span>Em um total de <%= @loja.reviews.count %> avaliações.</span>

<%=link_to "Voltar", loja_path %>
<%=link_to "Editar", edit_loja_path(@loja) %>
<%= link_to "Deletar", loja_path(@loja), method: :delete, data: {confirm: "Tem certeza?"} %>
<%= link_to "Reclamar",  new_loja_review_path(@loja) %>

<%= render @loja.reviews.reverse %>

<script>
	$('.review-rating').raty({

		readOnly: true,
		score: function(){
			return $(this).attr('data-score');
		},
		path: '/assets/'

	});
</script>

<script>
	
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function(){
			return $(this).attr('data-score')
		}
	});

</script>