<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @post.comentario %>
</p>

<p>
  <strong>Data:</strong>
  <%= @post.data %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
